@import url("./Normalize.scss");

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

@mixin breakpoint($width) {
    @media (min-width: $width) {
        @content;
    }
}

@function rem($pixels, $context: 16) {
    @return ($pixels / $context) * 1rem;
}

:root {
    --title-dark-color: #222222;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // overflow: hidden;
}

h1,
h2 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: rem(43);
    line-height: rem(55);
    color: var(--title-dark-color);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

// img:not(.logo, .brand__image, .process__image, .help-you__image) {
//     display: none;
// }

.header {
    position: sticky;
    top: 0;
    font-family: "Poppins";
    font-weight: 400;
    background-color: white;
    z-index: 1100;
}

.nav {
    position: relative;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: rem(80);
        padding: rem(20) rem(16);

        @include breakpoint($lg) {
            padding: rem(36) rem(48);
        }

        @include breakpoint($xl) {
            padding: rem(36) rem(60);
        }
    }

    &--mobile {
        position: absolute;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        padding: rem(16) rem(36);
        background-color: white;

        @include breakpoint($lg) {
            padding: 0 rem(68);
        }

        @include breakpoint($xl) {
            display: none;
        }
    }

    &--desktop {
        display: none;

        @include breakpoint($xl) {
            display: flex;
        }
    }

    &__link {
        position: relative;
        margin-bottom: rem(16);
        font-size: rem(17);
        line-height: rem(26);
        color: #555555;
        text-decoration: none;

        @include breakpoint($xl) {
            margin-bottom: 0;
            margin-left: rem(21);
        }

        &--active {
            color: #185f7f;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: rem(-18);
                width: 10px;
                height: 10px;
                margin: auto;
                border-radius: 100%;
                background-color: #185f7f;

                @include breakpoint($xl) {
                    top: initial;
                    right: 0;
                    left: 0;
                    bottom: rem(-10);
                    margin: 0 auto;
                }
            }
        }
    }
}

.logo {
    max-width: rem(331);
    max-height: rem(28);
    height: 28px;
    width: 15rem;

    @include breakpoint($lg) {
        width: 100%;
    }

    &--immersity {
        max-width: rem(257);
        max-height: rem(204);
        width: rem(128);
        object-fit: contain;

        @include breakpoint($lg) {
            width: rem(154.391);
        }

        @include breakpoint($xl) {
            width: 100%;
        }
    }

    &--wifipass {
        max-width: rem(274);
        max-height: rem(161);
        width: rem(128);
        object-fit: contain;

        @include breakpoint($lg) {
            width: rem(208);
        }

        @include breakpoint($xl) {
            width: 100%;
        }
    }

    &--kinesis {
        max-width: rem(181);
        max-height: rem(156);
        width: rem(128);
        object-fit: contain;

        @include breakpoint($lg) {
            width: rem(142.391);
        }

        @include breakpoint($xl) {
            width: 100%;
        }
    }

    &--mexperiencia {
        max-width: rem(227);
        max-height: rem(163);
        width: rem(128);
        object-fit: contain;

        @include breakpoint($lg) {
            width: rem(170.391);
        }

        @include breakpoint($xl) {
            width: 100%;
        }
    }

    &--mobile {
        max-width: rem(95);
        max-height: rem(182);
        width: rem(48);
        object-fit: contain;

        @include breakpoint($lg) {
            width: rem(64);
        }

        @include breakpoint($xl) {
            width: 100%;
        }
    }

    &--goodtimes {
        max-width: rem(267);
        max-height: rem(107);
        width: rem(128);
        object-fit: contain;

        @include breakpoint($lg) {
            width: rem(224);
        }

        @include breakpoint($xl) {
            width: 100%;
        }
    }
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    &__input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        // max-width: 326px;
        width: 100%;
        max-height: 50px;
        height: 100%;
        padding: rem(15) rem(21);
        border: 1px solid #c6baf8;
        border-radius: 4px;

        & > input {
            all: initial;
            flex: 1;
            font-family: "Poppins";

            &::placeholder {
                font-size: 14px;
                color: #cccccc;
            }
        }

        & > svg {
            color: #7f6ad9;
        }
    }
}

.contact {
    display: inline-block;
    margin-top: rem(16);
    // margin-left: rem(42.17);
    width: 100%;
    padding: 17px 42px;
    border-radius: 6px;
    text-align: center;
    color: white;
    text-decoration: none;
    background: transparent linear-gradient(248deg, #1b92c8 0%, #2c3636 100%) 0%
        0% no-repeat;
}

.button {
    all: initial;
    cursor: pointer;

    &--hamburguer {
        display: flex;
        color: #555555;

        @include breakpoint($xl) {
            display: none;
        }
    }
}

.brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: rem(32) rem(32) rem(80);
    background-image: url("./assets/images/rectangules-circles.png");

    &__title {
        max-width: 26rem;
        margin-top: rem(32);
        text-transform: capitalize;
        font-weight: 600;
        font-size: rem(42.536);
        letter-spacing: rem(0.59);
        text-align: center;

        @include breakpoint($md) {
            font-size: rem(42.88);
        }

        @include breakpoint($lg) {
            max-width: 35rem;
            font-size: rem(59);
            line-height: rem(74);
        }
    }

    &__image {
        max-width: rem(535);
        max-height: rem(430);
        width: 18rem;
        height: auto;
        text-align: center;

        @include breakpoint($md) {
            width: 20rem;
        }

        @include breakpoint($lg) {
            width: 25rem;
        }

        @include breakpoint($xl) {
            width: 100%;
        }
    }

    &__cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: rem(16);
        width: 100%;
        margin-top: rem(38.9);

        @include breakpoint($sm) {
            flex-direction: row;
            gap: rem(46.84);
        }

        @include breakpoint($md) {
            flex-direction: row;
        }
    }

    &__works {
        display: inline-block;
        max-height: rem(62.46);
        width: 100%;
        padding: rem(18) rem(40.01);
        border-radius: rem(7);
        font-family: "Poppins";
        font-weight: 500;
        font-size: rem(19);
        text-align: center;
        text-decoration: none;
        color: white;
        background: transparent
            linear-gradient(248deg, #1b92c8 0%, #2c3636 100%) 0% 0% no-repeat;

        @include breakpoint($sm) {
            max-width: rem(182.16);
        }
    }

    &__knowmore {
        display: inline-block;
        max-height: rem(62.46);
        width: 100%;
        padding: rem(18) rem(36.8);
        border: 1px solid #185f7f;
        border-radius: rem(7);
        font-family: "Poppins";
        font-weight: 500;
        font-size: rem(19);
        text-align: center;
        text-decoration: none;
        color: #185f7f;

        &:hover {
            color: white;

            background: transparent
                linear-gradient(248deg, #1b92c8 0%, #2c3636 100%) 0% 0%
                no-repeat;
        }

        @include breakpoint($sm) {
            max-width: rem(182.16);
        }
    }
}

.process {
    display: grid;
    padding: rem(32) rem(32) rem(80);

    @include breakpoint($md) {
        grid-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    @include breakpoint($xl) {
        max-width: rem(960);
        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
        padding-left: 0;
    }

    @include breakpoint($xxl) {
        max-width: rem(1332.8);
        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
        padding-left: 0;
    }

    &__column {
        &--order1 {
            order: 1;

            @include breakpoint($md) {
                order: initial;
            }
        }

        &--text-center {
            text-align: center;
        }
    }

    &__title {
        max-width: 15rem;
        font-size: rem(28);
        line-height: initial;

        @include breakpoint($lg) {
            max-width: 13ch;
            font-size: rem(43);
            line-height: rem(55);
        }
    }

    &__subheading {
        max-width: 25rem;
        margin-top: rem(41);
        font-family: "Poppins";
        font-size: rem(14.56);
        line-height: rem(27);
        color: #555555;

        & > strong {
            font-weight: 500;
        }

        @include breakpoint($md) {
            font-size: rem(14);
        }

        @include breakpoint($lg) {
            font-size: rem(15);
        }
    }

    &__image {
        max-width: rem(634);
        max-height: rem(546);
        width: 18rem;
        height: auto;
        margin-bottom: rem(32);
        object-fit: contain;

        @include breakpoint($sm) {
            width: 25rem;
        }

        @include breakpoint($md) {
            width: 100%;
            margin-bottom: 0;
        }
    }

    &__knowmore {
        display: inline-block;
        max-height: rem(62.46);
        width: 100%;
        margin-top: rem(32);
        padding: rem(18) rem(36.8);
        border: 1px solid #185f7f;
        border-radius: rem(7);
        font-family: "Poppins";
        font-weight: 500;
        font-size: rem(19);
        text-align: center;
        text-decoration: none;
        color: #185f7f;

        &:hover {
            color: white;

            background: transparent
                linear-gradient(248deg, #1b92c8 0%, #2c3636 100%) 0% 0%
                no-repeat;
        }

        @include breakpoint($sm) {
            max-width: rem(182.16);
        }
    }
}

.help-you {
    display: grid;
    padding: rem(32) rem(32) rem(80);

    @include breakpoint($md) {
        grid-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    @include breakpoint($xl) {
        max-width: rem(960);
        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
        padding-left: 0;
    }

    @include breakpoint($xxl) {
        max-width: rem(1332.8);
        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
        padding-left: 0;
    }

    &__column {
        &--text-center {
            text-align: center;
        }

        &--center {
            margin: auto;
        }
    }

    &__title {
        max-width: 15rem;
        font-size: rem(28);
        line-height: initial;

        & > strong {
            font-weight: 600;
        }

        @include breakpoint($lg) {
            max-width: 13ch;
            font-size: rem(43);
            line-height: rem(55);
        }
    }

    &__subheading {
        max-width: 25rem;
        margin-top: rem(36);
        padding-bottom: rem(10);
        font-family: "Poppins";
        font-weight: 400;
        font-size: rem(14.56);
        line-height: rem(27);
        color: #555555;

        @include breakpoint($md) {
            font-size: rem(14);
        }

        @include breakpoint($lg) {
            font-size: rem(15);
        }
    }

    &__image {
        max-width: rem(678);
        max-height: rem(602);
        width: 18rem;
        height: 100%;
        object-fit: contain;

        @include breakpoint($md) {
            width: 20rem;
        }

        @include breakpoint($lg) {
            width: 100%;
        }
    }
}

.speciality-of-us {
    padding: rem(32) 0 rem(80);
    text-align: center;

    // @include breakpoint($md) {
    //     padding: rem(32) rem(32) rem(80);
    // }

    &__title {
        max-width: 16ch;
        margin: 0 auto rem(65);
        padding: 0 rem(24);
        font-size: rem(28);
        text-align: center;
        line-height: initial;

        @include breakpoint($lg) {
            font-size: rem(43);
            line-height: rem(55);
        }

        & > strong {
            font-weight: 600;
        }
    }

    &__card {
        position: relative;
        max-width: rem(423);
        height: rem(532);
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin-block: rem(32);
        // margin-left: rem(32);
        margin: rem(32) 0;
        padding: rem(46);
        border-radius: rem(8);
        font-family: "Poppins";
        font-weight: 400;
        background: white 0% 0% no-repeat padding-box;
        box-shadow: 0px 10px 30px #99999933;

        &__image {
            max-width: rem(255);
            max-height: rem(255);
            border-radius: 50%;
            object-fit: cover;
        }

        &__title {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            margin-top: rem(18);
            font-weight: 400;
            font-size: rem(28);
            line-height: rem(28);
            letter-spacing: 0;
            text-align: center;
            color: #222222;

            & > strong {
                font-weight: 600;
            }
        }

        &__subheading {
            word-break: break-all;
            -webkit-line-clamp: 3;

            max-width: 30ch;
            padding-top: rem(19);
            font-size: rem(15);
            line-height: rem(27);
            letter-spacing: 0;
            color: #555555;
        }
    }

    // & .swiper-slide.swiper-slide-prev {
    //     transform: initial !important;
    // }

    // & .swiper-slide.swiper-slide-next {
    //     transform: initial !important;
    // }
}

.partnes-and-client {
    padding: rem(32) rem(32) rem(80);
    text-align: center;

    @include breakpoint($xl) {
        max-width: rem(1190.4);
        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
        padding-left: 0;
    }

    @include breakpoint($xxl) {
        max-width: rem(1195.2);
        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
        padding-left: 0;
    }

    &__title {
        max-width: 15ch;
        margin: 0 auto;
        font-weight: 600;
        font-size: rem(28);
        line-height: initial;

        @include breakpoint($lg) {
            max-width: 13ch;
            font-size: rem(43);
            line-height: rem(55);
        }
    }

    &__content {
        margin-top: rem(36);

        @include breakpoint($lg) {
            margin-top: rem(141);
        }
    }

    &__grid {
        display: grid;
        grid-gap: 1rem;

        @include breakpoint($md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint($lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        & > li {
            height: 100%;
            width: 100%;

            @include breakpoint($lg) {
                &:nth-child(3n + 2) {
                    & > .card {
                        margin-top: -3rem;
                    }
                }
            }
        }
    }

    & a {
        margin-top: rem(48);
        font-family: "Poppins";
        font-weight: 500;
        color: #185f7f;
        text-decoration: none;
    }
}

.testimonial {
    // padding: rem(32) 0 rem(80);
    padding: rem(32) rem(32) rem(80);
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;

    &__title {
        font-size: rem(28);
        text-align: center;
        line-height: initial;

        @include breakpoint($lg) {
            font-size: rem(43);
            line-height: rem(55);
        }

        & > strong {
            font-weight: 600;
        }
    }

    &__quote {
        position: absolute;
        top: rem(-12);
        bottom: 0;
        left: 0;
        width: auto;
        height: rem(12);

        @include breakpoint($sm) {
            height: initial;
            top: rem(-40);
            left: rem(-40);
        }

        @include breakpoint($md) {
            top: rem(-12);
            left: rem(-80);
        }

        &--right {
            right: rem(1);
            bottom: 0;
            left: initial;
            transform: scaleX(-1);

            @include breakpoint($sm) {
                height: initial;
                top: rem(-40);
                right: rem(-40);
            }

            @include breakpoint($md) {
                top: rem(-12);
                right: rem(-80);
                left: initial;
            }
        }
    }

    &__card {
        max-width: rem(1613);
        // height: 603px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: rem(59) auto 0;
        padding: rem(18) 0 rem(32) 0;

        &__photo {
            max-width: 189px;
            height: 192px;
            border-radius: 50%;
            object-fit: cover;
        }

        &__comment {
            position: relative;
            max-width: 42ch;
            margin-top: rem(24);
            font-size: rem(18);
            line-height: rem(34);
            letter-spacing: rem(0.48);
            color: #333333;

            @include breakpoint($sm) {
            }

            @include breakpoint($md) {
            }

            @include breakpoint($lg) {
                font-size: rem(24);
            }
        }

        &__name {
            margin-top: rem(32);
            font-weight: 500;
            font-size: rem(16);
            line-height: rem(36);
            letter-spacing: rem(0.38);
            color: #222222;

            @include breakpoint($md) {
            }

            @include breakpoint($lg) {
                font-size: rem(19);
            }
        }

        &__rank {
            margin-top: rem(8);
            font-size: rem(14);
            line-height: rem(36);
            letter-spacing: rem(0.34);
            color: #222222;

            @include breakpoint($sm) {
            }

            @include breakpoint($md) {
            }

            @include breakpoint($lg) {
                font-size: rem(17);
            }
        }
    }
}

.contactus {
    padding: rem(32) rem(32) rem(80);
    font-family: "Montserrat";
    background-color: #eaf6ff;
    // background: transparent linear-gradient(1deg, #ffffff 0%, #c9e6ff 100%) 0%
    //     0% no-repeat;
    overflow: hidden;

    @include breakpoint($sm) {
        padding: rem(80) rem(32);
    }

    @include breakpoint($xl) {
        padding: rem(80) rem(34);
    }

    &__title {
        margin: 0 auto;
        font-size: rem(28);
        text-align: center;
        line-height: initial;

        @include breakpoint($lg) {
            max-width: 100%;
            font-size: rem(43);
            line-height: rem(55);
        }

        & > strong {
            font-weight: 600;
        }
    }

    &__form {
        position: relative;
        margin-top: rem(32);
        z-index: 1;

        @include breakpoint($xl) {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        & > form {
            position: relative;
            flex-grow: 1;
        }
    }

    &__btn {
        margin-top: rem(32);
        background-color: white;
    }

    &__banner {
        flex: 1;
        height: 100%;
        margin-top: auto;
        padding-bottom: rem(16);

        & > img {
            display: none;
            max-width: rem(566);
            max-height: rem(492);

            @include breakpoint($xl) {
                display: block;
            }
        }
    }

    &__rectangules {
        position: absolute;
        top: rem(75);
        z-index: -1;
        transform: scaleX(-1);
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: rem(255);
    height: rem(255);
    padding: rem(33);
    border-radius: 8px;
    cursor: pointer;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 30px #99999933;

    // @include breakpoint($sm) {
    //     max-height: rem(338);
    //     height: 100%;
    // }

    @include breakpoint($lg) {
        max-width: rem(386);
        max-height: rem(338);
        width: 100%;
        height: 338px;
    }

    &:hover {
        background-color: #185f7f;
    }

    &:hover img.logo.logo--wifipass,
    &:hover img.logo.logo--kinesis,
    &:hover img.logo.logo--mobile,
    &:hover img.logo.logo--goodtimes {
        filter: brightness(0) invert(1);
    }

    &:hover img.logo.logo--immersity {
        filter: grayscale(0);
    }

    &:hover a {
        transform: scale(1.15);
        color: white;
    }

    & > img {
        flex: 1;
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
    }

    & > a {
        transition: all 300ms ease-in-out;
    }
}

.arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 10rem;
    margin: 0 auto;
    padding-bottom: 2rem;

    &__button {
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        border-radius: 9999px;
        cursor: pointer;
        background-color: transparent;
        box-shadow: 0px 10px 30px #99999933;

        & > svg {
            width: rem(14);
            height: rem(14);
            color: black;
        }
    }

    &--no-shadow {
        box-shadow: none;
    }
}

.form {
    max-width: rem(929);
    margin: 0 auto;
    padding: rem(52) rem(32) rem(32);
    font-family: "Poppins";
    font-weight: 400;
    border-radius: rem(8);
    background-color: white;
    box-shadow: 0 rem(20) rem(60) #3e3e3e29;

    @include breakpoint($sm) {
        padding: rem(88) rem(64) rem(64);
    }

    &__grid {
        display: grid;
        grid-gap: rem(71.12);

        @include breakpoint($sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        & > &--full {
            @include breakpoint($sm) {
                grid-column: 1 / -1;
            }
        }
    }

    &__sent {
        display: none;
        position: absolute;
        top: rem(16);
        right: 0;
        z-index: -1;

        @include breakpoint($xl) {
            display: block;
            right: rem(-224);
        }

        @include breakpoint($xxl) {
            display: block;
            right: rem(-96);
        }
    }
}

.float-label {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    // max-width: rem(350);

    &:focus-within > label,
    & > input:is(:placeholder-shown) + label,
    & > input:not(:placeholder-shown) + label {
        transform: translate(0, rem(-52)) scale(1);
    }

    // &--select {
    //     &:focus-within > label {
    //         transform: translate(0, rem(-52)) scale(1);
    //     }
    // }

    &--textarea {
        &:focus-within > label {
            transform: initial;
        }
    }

    &__label {
        position: absolute;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: rem(16);
        line-height: rem(25);
        transform: translate(0, rem(-20)) scale(1);
        transform-origin: top left;
        text-transform: capitalize;
        color: #222222;
        pointer-events: none;
        transition: all 200ms ease-out;

        &--select {
            transform: translate(0, rem(-52)) scale(1);
        }

        &--textarea {
            position: initial;
            inset: initial;
            margin-bottom: rem(16);
            transform: initial;
        }
    }

    &__input {
        width: 100%;
        height: rem(56);
        padding: 0;
        outline: 0;
        border: 0;
        border-bottom: rem(2) solid #e5e5e5;
        font-size: rem(15);
        line-height: rem(23);
        color: #c2c2c2;
        background-color: transparent;
        transition: all 0.2s ease-out;

        &::placeholder {
            color: #c2c2c2;
            opacity: 1;
        }

        &:focus::placeholder {
            opacity: 1;
            transition: inherit;
        }
    }

    &__select {
        width: 100%;
        height: rem(56);
        padding: 0;
        outline: 0;
        border: 0;
        border-bottom: rem(2) solid #e5e5e5;
        font-size: rem(15);
        line-height: rem(23);
        color: #c2c2c2;
        appearance: none;
        background: transparent
            url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M16.939 7.939 12 12.879l-4.939-4.94-2.122 2.122L12 17.121l7.061-7.06z"></path></svg>')
            no-repeat;
        background-position: right top 50%;
        background-size: 1rem;
        background-color: transparent;
        transition: all 0.2s ease-out;
    }

    &__textarea {
        width: 100%;
        padding: 0;
        outline: 0;
        border: 0;
        border-bottom: rem(2) solid #e5e5e5;
        font-size: rem(15);
        line-height: rem(23);
        color: #c2c2c2;
        background-color: transparent;
        resize: none;
        transition: all 0.2s ease-out;

        &::placeholder {
            color: #c2c2c2;
        }
    }
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: rem(120.92) rem(32) rem(120.92);
    font-family: "Poppins";
    font-weight: 400;

    @include breakpoint($xl) {
        padding: rem(120.92) rem(32) rem(184.92);
    }

    @include breakpoint($xxl) {
        padding: rem(120.92) 0 rem(280.92);
    }

    &__logo {
        max-width: rem(484);
        width: 100%;
        height: rem(41);
    }

    &__nav {
        display: grid;
        // grid-gap: rem(80);
        grid-gap: rem(16);
        // grid-template-columns: repeat(4, 1fr);
        margin-top: rem(94.99);
        max-width: 66rem;
        margin-right: auto;
        margin-left: auto;
        width: 100%;

        @include breakpoint($md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint($lg) {
            grid-template-columns: repeat(4, 1fr);
        }

        @include breakpoint($xxl) {
            max-width: rem(1339.2);
        }
    }

    &__heading {
        font-weight: 500;
        font-size: rem(18);
        line-height: rem(27);
        text-transform: capitalize;
        color: #101c21;
    }

    &__list {
        margin-top: rem(28);
        font-size: rem(15);
        color: #777777;

        &--row {
            display: flex;
            flex-direction: row;
            gap: rem(24);
        }
    }

    &__item {
        margin-bottom: rem(21);

        &--icon {
            display: flex;
            gap: rem(8);
            flex-direction: row;
            align-items: center;

            & > svg {
                color: #9d60eb;
            }
        }
    }

    &__link {
        color: #777777;
        text-decoration: none;
    }

    &__address {
        margin-top: rem(28);
        margin-bottom: rem(21);
        font-size: rem(13);
        font-style: normal;
        line-height: rem(23);
        color: #777777;
    }

    &__lane {
        position: absolute;
        width: 100%;
        bottom: rem(-80);
        z-index: -1;
    }
}

.swiper-slide.swiper-slide-prev.swiper-slide-visible,
.swiper-slide.swiper-slide-next.swiper-slide-visible {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1) !important;
    transition: inherit;
}
